<nav class="navbar navbar-light bg-warning">
  <a href="/" class="navbar-brand" style="display: flex; align-content: center; align-items: center;">
    <img src="/img/logo.svg" alt="Logomarca" id='logo'>
    <h1 style="margin-left: 10px;">FANBOY WARS</h1>
  </a>
  <a href="/perguntar" class="btn btn-success">Perguntar</a>
</nav>